@font-face {
    font-family: 'paybooc';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'paybooc';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Medium.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'paybooc';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'paybooc';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-ExtraBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-paybooc/paybooc-ExtraBold.ttf') format('truetype');
}
